@charset "utf-8";

@font-face {
	font-family: brush;
	src: url('AlexBrush-Regular.ttf') format('truetype');
}

h1 {
	text-align: center;
	text-shadow: 2px 2px 2px #888686;
	border: 2px solid black;
	border-radius: 20px;
	padding: 5px;
	display: inline-block;
	align: center;
	box-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

body {
	background: url('decl.jpg') no-repeat 20% 450px, 
				url('decl.jpg') no-repeat 50% 450px,
				url('decl.jpg') no-repeat 80% 450px,
				url('background3.jpg'); 
	background-size: 10%, 10%, 10%, 100%;
	text-align: center;
}

p {
	margin: 0px;
	text-indent: 1em;
	text-align: justify;
	font-family: brush, sans-serif;
	font-size: 20px;
	opacity: 0.7;
}

div:last-of-type {
	padding-left: 10%;
	padding-right: 10%;
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 2em;
	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
}

div:first-of-type {
	width: 100%
	text-align: center;
}

ul {
	text-align: center;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

a {
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
}

@media screen and (max-width:480px){
	h1 {
		box-shadow: none;
		padding: 2px;
	}
	
	body {
		background: none;
		background-color: moccasin;
		text-align: center;
	}
	
	a {
		font-size: 22px;
		padding-bottom: 10px;
	}
	
	p {
		font-family: none;
		font-size: 17px;
		text-align: center;
	}
	
	div:last-of-type {
		column-count: auto;
		-moz-column-count: auto;
		-webkit-column-count: auto;
		column-width: 100%;
		-moz-column-width: 100%;
		-webkit-column-width: 100%;
	}
}

@media screen and (orientation: portrait){
	h1 {
		box-shadow: none;
		padding: 2px;
	}
	
	body {
		background: none;
		background-color: moccasin;
		text-align: center;
	}
	
	a {
		font-size: 22px;
		padding-bottom: 10px;
	}
	
	p {
		font-family: none;
		font-size: 17px;
		text-align: center;
	}
	
	div:last-of-type {
		column-count: auto;
		-moz-column-count: auto;
		-webkit-column-count: auto;
		column-width: 100%;
		-moz-column-width: 100%;
		-webkit-column-width: 100%;
	}
}
